<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col one-half">
          <ul class="contact-list">
            <li class="p-name">
              {%- if site.author -%}
                {{ site.author | escape }}
              {%- endif -%}
              </li>
              {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {%- endif -%}
          </ul>
        </div>
      </div>
    </div>
  </footer>