---
layout: default
---

<div class="home">
  <div class="home-title">
    <p class="home-heading">{{ site.title }}</p>
    <p class="home-sub-heading">{{- site.description | escape -}}</p>
  </div>

  {%- if site.posts.size > 0 -%}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.move.date_format | default: "%b %-d, %Y" -%}
      <span class="post-meta">
          {{ post.date | date: "%Y" }}
        {{ post.date | date: date_format }}
      </span>
      <a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</div>
