---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <div class="post-back">
      <a href="{{ site.url | relative_url }}"> ← {{ site.moving.back_to }} </a>
    </div>

    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name">{{
          page.author | escape
        }}</span></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
